---
import Slider from "../components/Slider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="flex flex-col items-start font-serif">
    <a
      class="subtitle text-red animate-link text-25 outline-none"
      href="https://rootenginear.github.io"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      rootEnginear's
    </a>
    <h1 class="title text-50 font-bold pointer-events-none">BTA Mods</h1>
  </header>
  <main class="-mx-30">
    <Slider />
  </main>
  <footer
    class="footer font-sans text-20 absolute top-30 right-30 flex flex-col items-end gap-10"
  >
    <a
      class="flex gap-10 items-center animate-link-download outline-none h-[27px]"
      href="https://github.com/rootEnginear/bta-rootenginear-mods"
      target="_blank"
      rel="nofollow noopener noreferrer"
      aria-label="Source Code"
    >
      <span aria-hidden="true" class="hidden sm:inline">Source Code</span>
      <svg
        class="flex-none size-20 sm:text-red"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12.5 18.333V15a4 4 0 00-.833-2.917c2.5 0 5-1.666 5-4.583a4.503 4.503 0 00-.834-2.917 6.165 6.165 0 000-2.916s-.833 0-2.5 1.25a17.934 17.934 0 00-6.666 0c-1.667-1.25-2.5-1.25-2.5-1.25a5.765 5.765 0 000 2.916A4.502 4.502 0 003.333 7.5c0 2.917 2.5 4.583 5 4.583A3.929 3.929 0 007.5 15m0 0v3.333M7.5 15c-3.758 1.667-4.167-1.667-5.833-1.667"
        ></path>
      </svg>
    </a>
    <a
      class="opacity-50 animate-link text-15 outline-none hidden sm:inline"
      href="https://www.betterthanadventure.net/"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      What's BTA?
    </a>
  </footer>
</Layout>
